.encabezado{
    position: relative;
    margin: 1%;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.contenedor-titulo{
    text-align: center;
}
.titulo{
    text-align: center;
    color: #5E2ED6;
    font-size: 100%;
    width: 100%;
    margin-top: 24px;
}
.contenedor-logOut{
    align-items: center;
    position: absolute;
    right: 8px;
    top: -10px;
}
.boton {
    background: #FFFFFF;
    border: 0px;
    text-align: center;
    color: #7060E6;
    flex: auto;
    flex-grow: 0;
    bottom: auto;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    height: 20px;
    margin: 8px;
}
.logOut{
    width: 15px;
    height: 15px;
}
.divPrincipal {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* width: fit-content; */
    /* height: fit-content; */
    text-align: center;
    width: 100%;
    height: 85vh;
    align-items: center;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #555597; */
}
.llamadaAuxilio{
    border: 1px solid red;
    width: 30%;
    height: auto;
    margin: 1%;
    padding: 1%;
}

.tarjetaUsusarios{
    border: 1px solid orange;
}

.mapa{
    border: 1px solid green;
    width: 70%;
    height: auto;
    margin: 1%; 
    align-items: center;
    padding: 1%;
}

.tituloMapa{
    text-align: center;
    font-style: 100%;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;;
}

.googleMaps{
    width: 98%;
    height: 94%;
    margin: 1%;
}

.div-responsive{   
  display: flex;
  flex-flow: row-reverse wrap;
  flex-direction: column;
  align-items: center;
}